{% extends 'base.html.twig' %}

{% block title %}Update database{% endblock title %}

{% block content %}
    <div class="mx-5 my-5">
        <h2 class="text-center">Update database</h2>
        <p> On this page you can start the process of fetching the newest data from
            <a href="http://classic.wowhead.com" target="_blank">classic.wowhead.com</a>.
            <strong>Warning</strong>: This process is still error prone and lasts on average about <i>12 hours</i>.
        </p>
        <div class="d-flex justify-content-center">
            <button id="updateButton" class="btn btn-primary mb-3" type="button"
                    onclick="window.app.getDatabaseUpdater().update()">Start Update</button>
        </div>
        <div id="progressBox">

        </div>
    </div>
{% endblock content %}