{% extends 'page.html.twig' %}

{# Title #}
{% block title %}Profession assistant{% endblock %}

{# Page content #}
{% block pageContent %}
    <h1 class="text-center">Profession assistant</h1>
{% endblock %}