{% use 'messages.html.twig' with messages as parent_messages %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="An open-source tool to help with your adventures in Classic World of Warcraft">
        <meta name="keywords" content="WoW,Professions,Assistant,World of Warcraft,Guide">
        <meta name="author" content="Julien Kenneth Pleijte">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}WoW Classic Assistant{% endblock title %}</title>
        {# Link tags #}
        <link rel="icon" type="image/ico" href="{{ asset('build/images/assistant.ico') }}">
        {% block linkEntries %}
            {{ encore_entry_link_tags('global') }}
        {% endblock linkEntries %}
    </head>
    <body>
        {# Messages #}
        {% if messages is defined %}
            {% block messages %}
                {{ block('parent_messages') }}
            {% endblock messages %}
        {% endif %}

        {# Content #}
        {% block content %}{% endblock content %}
    </body>
    {# Scripts #}
    {% block scriptEntries %}
        {{ encore_entry_script_tags('app') }}
    {% endblock scriptEntries %}
</html>
